<div class="container">
  <div class="row my-3">
    <div class="col-md-10 mx-auto">
      <div class="row">
        <h2>会員一覧</h2>
      </div>
        <table class='table'>
          <thead>
            <tr>
              <th>会員ID</th>
              <th>氏名</th>
              <th>メールアドレス</th>
              <th>ステータス</th>
            </tr>
          </thead>
          <tbody>
            <% @customers.each do |customer| %>
              <tr>
                <td><%= customer.id %></td>
                <td><%= link_to customer.full_name, admin_customer_path(customer.id)  %></td>
                <td><%= customer.email %></td>
                <td>
                  <% if customer.customer_status == false %>
                    <b class="text-success">有効</b>
                  <% else %>
                    <b class="text-black-50">退会</b>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <%= paginate @customers %>
    </div>
  </div>
</div>