<table class="table table-bordered">
  <thead class="thead">
    <tr>
      <th>ジャンル検索</th>
    </tr>
  </thead>
  <tbody class="genre-tbody overflow-auto">
    <% genres.each do |genre| %>
    <tr class="table-borderless">
      <td>
        <%= link_to genre.name, admin_genre_path(genre) %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
