<table class="table table-bordered">
  <thead>
    <tr>
      <th>ジャンル検索</th>
    </tr>
  </thead>
  <tbody>
    <% genres.each do |genre| %>
    <tr id = "genre_<%= genre.id %>">
      <td>
        <%= link_to genre, class: "genre_#{genre.id}" %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
