<div class="container mt-5">
  <div class="mx-auto">
    <div class="row mb-3">
      <h3>ショッピングカート</h3>
      <div class="col text-right">
        <%= link_to "カートを空にする", destroy_all_cart_items_path, class: 'btn btn-danger btm-sm', method: :delete %>
      </div>
    </div>
    <table class="table table-hover table-inverse">
      <thead>
        <tr>
          <td>商品名</td>
          <td>価格(税込)</td>
          <td>数量</td>
          <td>小計</td>
          <td></td>
        </tr>
      </thead>
      <tbody>

        <tr>
          <td></td>
        </tr>

      </tbody>
    </table>
  </div>
</div>