@import '~bootstrap/scss/bootstrap';
@import '@fortawesome/fontawesome-free/scss/fontawesome';

.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.carousel-caption {
 margin: 0 0 0 auto;
 width: 350px;
 text-align: left;
}

.first-slid{
 color: #000000;
 background-color: #f8ccc8;
 opacity: 0.8;
 border-radius: 8px;
 padding: 10px;
}

.second-slid{
 color: #000000;
 background-color: #ffff99;
 opacity: 0.8;
 border-radius: 8px;
 padding: 10px;
}

.third-slid{
 color: #000000;
 background-color: #ffffff;
 opacity: 0.8;
 border-radius: 8px;
 padding: 10px;
}


.top-image {
 height: 500px;
 width: 100%;
 object-fit: cover;
}


@media screen and (max-width:1024px) {
 .top-image {
   height: auto;
 }
}

@media screen and (max-width:481px) {

 .carousel-item {
   height: 500px;
   margin: 0 auto;
  }


 .carousel-caption {
   opacity: 1.0;
   width: auto;
   justify-content: center;
   text-align: center;
 }

  .third-slid{
   background-color: #000000;
   color: #ffffff;
 }

}